@@include('@@static/template/header.html',{
    "title" : "会员月活动",
    "cssFile" : ["@@static/sass/lib/common.css","@@static/sass/vipMonth/vipMonth.css"],
    "bodyClass" : "home",
    "showLoading":false
})

<div class="content">
	<div class="outList">
		<ul class="outListUl" id="content">
			<!-- <li class="outLiAct">
				<div class="tit">
					<p>西家厨房课堂</p>
					<i class="iconfont icon-chevronr"></i>
				</div>
				<ul class="inList">
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
				</ul>
			</li>
			<li>
				<div class="tit">
					<p>西家厨房课堂</p>
					<i class="iconfont icon-chevronr"></i>
				</div>
				<ul class="inList">
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
				</ul>
			</li>
			<li>
				<div class="tit">
					<p>西家厨房课堂</p>
					<i class="iconfont icon-chevronr"></i>
				</div>
				<ul class="inList">
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
				</ul>
			</li>
			<li>
				<div class="tit">
					<p>西家厨房课堂</p>
					<i class="iconfont icon-chevronr"></i>
				</div>
				<ul class="inList">
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
					<li>名称</li>
				</ul>
			</li> -->
		</ul>
	</div>
</div>
<script type="text/html" id="inner">
  {{if d}}
  {{each d as list i}}
  <li class="ls {{i==0?'outLiAct':''}}">
    <div class="tit">
      <p>{{list.title}}</p>
      <i class="iconfont icon-chevronr"></i>
    </div>
    <ul class="inList">
      <div class="info">{{#list.desc}}</div>
      <li style="font-size:13px">活动时间：{{time(list.starttime)}}至{{time(list.endtime)}}</li>
    </ul>
  </li>
  {{/each}}
  {{/if}}
</script>
<script type="text/javascript" src="@@static/js/lib/require.js" data-main="@@static/js/vipMonth/vipMonth.js"></script>
<!-- 引入公共底部 -->
@@include('@@static/template/footer.html')
