@@include('@@static/template/header.html',{
    "title" : "我的优惠券",
    "cssFile" : ["@@static/sass/lib/common.css","@@static/sass/coupon/coupon.css"],
    "bodyClass" : "body",
    "showLoading":false
})

<div class="content" id="continer">

</div>
<script type="text/html" id="inner">
  <div class="weui-flex couponTop">
      <div class="weui-flex__item">
          {{if Coupons}}
          <p class="flex__item_p">{{Coupons.length}}张</p>
          {{else}}
          <p class="flex__item_p">0张</p>
          {{/if}}
          <div class="flex__item_div">可用优惠券</div>
      </div>
      <div class="weui-flex__item">
          {{if Coupons_deadtime}}
          <p class="flex__item_p">{{Coupons_deadtime.length}}张</p>
          {{else}}
          <p class="flex__item_p">0张</p>
          {{/if}}
          <div class="flex__item_div">已过期</div>
      </div>
      <div class="weui-flex__item toCode">
          <p class="flex__item_p">优惠劵</p>
          <div class="flex__item_div">领取</div>
      </div>
  </div>
  <div class="couponList">
      <ul>
        {{if Coupons}}
        {{each Coupons as list i}}
          <li class="couponEff">
              <p class="couponName">{{list.title}}</p>
              <p class="couponDate">限用日期：{{time(list.starttime)}}至{{time(list.endtime)}}</p>
          </li>
        {{/each}}
        {{/if}}
      </ul>
  </div>
  <div class="weui-loadmore weui-loadmore_line loadmore">
      <span class="weui-loadmore__tips">暂无数据</span>
  </div>
  <div class="couponList">
      <ul>
          {{if Coupons_deadtime}}
          {{each Coupons_deadtime as list i}}
            <li class="couponOver">
              <p class="couponName">{{list.title}}</p>
              <p class="couponDate">限用日期：{{time(list.starttime)}}至{{time(list.endtime)}}</p>
            </li>
          {{/each}}
          {{/if}}
      </ul>
  </div>
</script>
<script type="text/javascript" src="@@static/js/lib/require.js" data-main="@@static/js/coupon/coupon.js"></script>
<!-- 引入公共底部 -->
@@include('@@static/template/footer.html')
