@@include('@@static/template/header.html',{
    "title" : "赠品",
    "cssFile" : ["@@static/sass/lib/common.css","@@static/sass/coupon/coupon.css"],
    "bodyClass" : "bodyGift",
    "showLoading":false
})

<div class="content">
    <div class="search">
        <input type="text" placeholder="请输入赠品码" class="giftNum">
        <input type="button" value="兑换赠品" class="toGift">
    </div>
    <div class="giftNav">
        <ul>
            <li class="giftAct">
                <p>未使用(0)</p>
            </li>
            <li>
                <p>已使用(0)</p>
            </li>
            <li>
                <p>已失效(0)</p>
            </li>
        </ul>
    </div>
    <div class="cpList">
        <div class="couponList effList">
            <ul>
                <li class="couponEff">
                    <p class="couponName">未使用</p>
                    <p class="couponDate">限用日期：2017/03/04-05/08</p>
                </li>
                <li class="couponOver">
                    <p class="couponName">优惠券名称</p>
                    <p class="couponDate">限用日期：2017/03/04-05/08</p>
                </li>
            </ul>
        </div>
        <div class="couponList aluseList">
            <ul>
                <li class="couponEff">
                    <p class="couponName">已使用</p>
                    <p class="couponDate">限用日期：2017/03/04-05/08</p>
                </li>
                <li class="couponOver">
                    <p class="couponName">优惠券名称</p>
                    <p class="couponDate">限用日期：2017/03/04-05/08</p>
                </li>
            </ul>
        </div>
        <div class="couponList overList">
            <ul>
                <li class="couponEff">
                    <p class="couponName">已过期</p>
                    <p class="couponDate">限用日期：2017/03/04-05/08</p>
                </li>
                <li class="couponOver">
                    <p class="couponName">优惠券名称</p>
                    <p class="couponDate">限用日期：2017/03/04-05/08</p>
                </li>
            </ul>
        </div>
    </div>
    
<script type="text/javascript" src="@@static/js/lib/require.js" data-main="@@static/js/gift/gift.js"></script>
</div>
<!-- 引入公共底部 -->
@@include('@@static/template/footer.html')