.logo{
	text-align: center;
	width: 100%;
	padding: 100px 0 60px 0px;
}
.logo img{
	width: 30%;
}
.loginInput{
	width: 80%;
	margin-left: 10%;
}
.loginInput input[type="text"]{
	width: 100%;
	height: 20px;
	padding: 10px 0px;
	line-height: 20px;
	border-radius: 5px;
	border:none;
	border: 1px solid #7b7b7b;
	text-indent: 30px;
	background: url('../../img/username.png') no-repeat 8px 10px;
	background-size: 15px 20px;
	color: #7b7b7b;
	font-size: 14px;
}
.loginInput input[type="password"]{
	width: 100%;
	height: 20px;
	padding: 10px 0px;
	line-height: 20px;
	border-radius: 5px;
	border:none;
	border: 1px solid #7b7b7b;
	text-indent: 30px;
	background: url('../../img/password.png') no-repeat 8px 10px;
	background-size: 15px 20px;
	color: #7b7b7b;
	font-size: 14px;
	margin-top: 40px;
}
.loginInput input:nth-child(3){
	width: 100%;
	height: 20px;
	padding: 10px 0px;
	line-height: 20px;
	border-radius: 5px;
	border:none;
	border: 1px solid #7b7b7b;
	text-indent: 30px;
	background: url('../../img/passwordAgain.png') no-repeat 8px 10px;
	background-size: 15px 20px;
	color: #7b7b7b;
	font-size: 14px;
	margin-top: 40px;
	margin-bottom: 10px;
}
.loginInput .loginAgree{
	background-color:#ffb900;
	border: none;
	margin-top: 20px;
}
.loginInput .uiAgree{
	font-size: 12px;
}
.loginInput .loginAgree:checked:before{
	color:#fff;
}
.loginInput .noRegister{
	font-size: 12px;
	float: right;
	padding-top: .5em;
	margin-top: 20px;
}
.loginInput .noRegister a{
	color: #ffb900;
}
.login{
	width: 80%;
	margin-left: 10%;
}
.login_primary{
	background-color:#ffb900;
	font-size: 16px;
	margin-top: 30px;
}
.login_primary:not(.weui-btn_disabled):active{
	background-color:#ffcf4f;
	font-size: 16px;
}
.reg{
	width: 36%;
	margin-left: 32%;
}



/*设置*/
.pd{
	padding: 15px;
}

.title{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	font-size: 17px;
}
.orange{
	color: orange;
}
.list_item li{
		list-style: none;
		margin-top: 10px;
}
.list_item li:after{
	content: '';
	display: block;
	clear: both;
}
.tips{
	float: left;
	width: 30%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 16px;
}
.list_item li input{
	float: left;
	background: #f1f1f1;
	width: 70%;
	border: none;
	height: 40px;
	text-indent: 10px;
	font-size: 16px;
	border-radius: 5px;
}


/*会员专享*/
.bg{
	background: #f1f1f1;
}
.icon{
	text-align: center;
	font-size: 14px;
}
.icon img{
	width: 30px;
	height: 30px;
}

.inner {
	background:#ffb900 url(../../img/inner_bg.png) bottom center no-repeat;
	background-size: 100%;
	width: 100%;
	min-height: 200px;
	color: #fff;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	top: 32%;
}
.inner li{
	font-size: 14px;
	line-height: 30px;
	padding: 0 15px;
}
