@@include('@@static/template/header.html',{
    "title" : "我的福利",
    "cssFile" : ["@@static/sass/lib/common.css","@@static/sass/welfare/welfare.css"],
    "bodyClass" : "body",
    "showLoading":false
})

<div class="content" id="content">

</div>
<script type="text/html" id="inner">
  {{if d}}
  {{each d as list i}}
  <div class="month">
    <div class="tit">
      <p>{{list.title}}</p>
    </div>
    <div class="con" style="padding:10px;font-size:14px">
      {{#list.desc}}
    </div>
  </div>
  {{/each}}
  {{/if}}
</script>
<script type="text/javascript" src="@@static/js/lib/require.js" data-main="@@static/js/welfare/welfare.js"></script>
<!-- 引入公共底部 -->
@@include('@@static/template/footer.html')
