@@include('@@static/template/header.html',{
    "title" : "注册",
    "cssFile" : ["@@static/sass/lib/common.css","@@static/sass/welfare/welfare.css"],
    "bodyClass" : "body",
    "showLoading":false
})

<div class="content">
	<div class="month">
		<div class="tit">
			<p>4月洗碗机月</p>
		</div>
		<ul>
			<li>活动详情1</li>
			<li>活动详情1</li>
			<li>活动详情1</li>
		</ul>
	</div>
	<div class="month">
		<div class="tit">
			<p>5月洗碗机月</p>
		</div>
		<ul>
			<li>活动详情1</li>
			<li>活动详情1</li>
			<li>活动详情1</li>
		</ul>
	</div>
	<div class="month">
		<div class="tit">
			<p>6月洗碗机月</p>
		</div>
		<ul>
			<li>活动详情1</li>
			<li>活动详情1</li>
			<li>活动详情1</li>
		</ul>
	</div>
</div>
<!-- 引入公共底部 -->
@@include('@@static/template/footer.html')